@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-roboto: "Roboto", sans-serif;
    --font-poppin: "Poppins", sans-serif;
    --primary-clr: #0064b3; /*45adff*/
    --secondary-clr: #008fff;
    --accent-clr: #33a5ff;
    --neutral-clr: #cce9ff;
    --section-bg-clr: #e6f4ff;
    --white-clr: #fff;
    --black-clr: #000;
    --gray-clr: #2b2b2b;
    --light-border: rgba(0, 0, 0, 0.137);
}

.reOverlay .reOverlay__modalWrapper {
    /* height: auto; */
    /* height: 90vh; */
}
.reOverlay .reOverlay__modalWrapper .reOverlay__modalContainer {
    height: 90vh;
    width: 100%;
    max-width: 90vw;
    overflow-y: auto;
    border-radius: 8px;
    padding: 1rem 0;
}

.progress-bar {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    height: 4px;
    background: var(--accent-clr);
    transform-origin: 0%;
    z-index: 20;
}
